<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608731310526-10vkkpekcjfumn1sr7o2mpl76qciso42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608731310526-10vkkpekcjfumn1sr7o2mpl76qciso42</string>
	<key>API_KEY</key>
	<string>AIzaSyCO4QLEXlJP0UWNhhqyFFde5WtT7gtpefk</string>
	<key>GCM_SENDER_ID</key>
	<string>608731310526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ahmed.VK</string>
	<key>PROJECT_ID</key>
	<string>vkbackend-a13b9</string>
	<key>STORAGE_BUCKET</key>
	<string>vkbackend-a13b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608731310526:ios:b97a6ef318039fe06a31ef</string>
</dict>
</plist>